:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
.main-container,
.main-container * {
  box-sizing: border-box;
}
.social-icons:hover {
  transform: scale(1.05);
}
.social-icons-f:hover {
  transform: scale(1.05);
}
.social-icons-10:hover {
  transform: scale(1.05);
}
.get-started:hover {
  transform: scale(1.05);
}
.frame-carpenter:hover {
  transform: scale(1.05);
}
.frame-Plumber:hover {
  transform: scale(1.05);
}
.frame-Painter:hover {
  transform: scale(1.05);
}
