.body {
  margin: 0 auto;
  padding: 0 auto;
}
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 4966px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.nav-bar {
  position: relative;
  width: 1441px;
  height: 102px;
  margin: 0 0 0 0;
  background: #64acef;
  z-index: 80;
}
.artizaan-logo {
  position: absolute;
  width: 131.273px;
  height: 95px;
  top: 0;
  left: 170.355px;
  cursor: pointer;
  background: url(./assets/images/22842ac1a17eb0a43c6507267ad501a5944c9ef9.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 2px;
}
.profile-circle {
  position: absolute;
  cursor: pointer;
  width: 35.073px;
  height: 33px;
  top: 50px;
  left: 1196.491px;
  background: url(./assets/images/759bdcad-19bd-4868-9e19-12c62a83dfaa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 88;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24.034px;
  top: 54px;
  left: 822.713px;
  color: #000000;
  cursor: pointer;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-0.04deg);
  z-index: 84;
}
.about-us-1 {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: flex-start;
  position: absolute;
  height: 24.058px;
  top: 54px;
  left: 904.884px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-0.04deg);
  z-index: 83;
}
.services {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  cursor: pointer;
  height: 24.054px;
  top: 54.004px;
  left: 1025.134px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-0.04deg);
  z-index: 81;
}
.sign-in {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  cursor: pointer;
  height: 24.042px;
  top: 54.012px;
  left: 1123.339px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-0.04deg);
  z-index: 82;
}
.artizaan {
  display: block;
  position: relative;
  height: 75px;
  margin: 51px 0 0 632px;
  color: #513122;
  font-family: Poppins, var(--default-font-family);
  font-size: 50px;
  font-weight: 500;
  line-height: 75px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}
.flex-row-b-a {
  position: relative;
  width: 1290px;
  height: 607.512px;
  margin: 57px 0 0 150px;
  z-index: 191;
}
.pix {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 19.92%;
  height: 28.46%;
  top: 0;
  left: 46.02%;
  z-index: 5;
}
.rectangle-b {
  flex-shrink: 0;
  position: relative;
  width: 266px;
  height: 179px;
  background: url(./assets/images/bb88f6075ea1d9e3bf0f45caac4b2b13f3905642.png)
    no-repeat center;
  background-size: contain;
  z-index: 6;
  border-radius: 30px;
}
.ellipse {
  position: absolute;
  width: 9.81%;
  height: 20.35%;
  top: 3.18%;
  left: 77.62%;
  background: url(./assets/images/4ae58b46-d360-4285-9c97-2bac8bfc2879.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 9;
}
.gateway-country-makers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 475px;
  height: 198px;
  top: 25px;
  left: 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
  z-index: 1;
}
.rectangle-c {
  position: absolute;
  width: 34.14%;
  height: 80.76%;
  top: 8.11%;
  left: 50.89%;
  background: url(./assets/images/015fcefb12279411528ea79a4e7861094c71230c.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.97;
  z-index: 3;
  border-radius: 40px;
}
.socials {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 52px;
  height: 155px;
  top: 133px;
  left: 1238px;
  z-index: 191;
}
.rectangle-d {
  flex-shrink: 0;
  position: relative;
  width: 52px;
  height: 155px;
  background: rgba(201, 171, 150, 0.15);
  z-index: 192;
}
.frame-e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8.021px;
  position: absolute;
  width: 39px;
  height: 113px;
  top: 21px;
  left: 11px;
  z-index: 193;
}
.social-icons {
  flex-shrink: 0;
  position: relative;
  width: 32.086px;
  height: 32.086px;
  background: url(./assets/images/605c9357-85d7-4b42-85e2-4a9424cdb95b.png)
    no-repeat center;
  background-size: cover;
  z-index: 194;
  overflow: hidden;
  cursor: pointer;
}
.social-icons:hover {
  transform: scale(1.05);
}
.social-icons-f {
  flex-shrink: 0;
  position: relative;
  width: 32.086px;
  height: 32.086px;
  background: url(./assets/images/8f932869-b0dd-4d19-9075-a8674bd51231.png)
    no-repeat center;
  background-size: cover;
  z-index: 195;
  overflow: hidden;
  cursor: pointer;
}
.social-icons-f:hover {
  transform: scale(1.05);
}
.social-icons-10 {
  flex-shrink: 0;
  position: relative;
  width: 32.086px;
  height: 32.086px;
  background: url(./assets/images/447a74bd-7206-4409-b5f5-23e12810eb32.png)
    no-repeat center;
  background-size: cover;
  z-index: 196;
  overflow: hidden;
  cursor: pointer;
}
.social-icons-10:hover {
  transform: scale(1.05);
}
.artisans-innovative-products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 457px;
  height: 183px;
  top: 223px;
  left: 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 30.5px;
  text-align: left;
  z-index: 10;
}
.rectangle-11 {
  position: absolute;
  width: 17.15%;
  height: 25.76%;
  top: 46.74%;
  left: 41.01%;
  background: url(./assets/images/283e9cdf3a17fa8539460b553f9f5e651ffb0a9d.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
  border-radius: 30px;
}
.pix-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 19.92%;
  height: 28.46%;
  top: 71.54%;
  left: 69.31%;
  z-index: 7;
}
.rectangle-13 {
  flex-shrink: 0;
  position: relative;
  width: 266px;
  height: 179px;
  background: url(./assets/images/dc76d865464b02f50a37796229774d076bb5be5e.png)
    no-repeat center;
  background-size: contain;
  z-index: 8;
  border-radius: 30px;
}
.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 268px;
  height: 53px;
  top: 457px;
  left: 0;
  padding: 11px 62px 11px 62px;
  cursor: pointer;
  background: #c9ab96;
  border: none;
  z-index: 11;
  overflow: hidden;
}
.get-started:hover {
  transform: scale(1.05);
}
.watch {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 30.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-14 {
  position: absolute;
  width: 139px;
  height: 13px;
  top: 556px;
  left: 673px;
  background: #734e3c;
  z-index: 13;
  border-radius: 5px;
}
.rectangle-15 {
  position: relative;
  width: 1440px;
  height: 913px;
  margin: 93.488px 0 0 0;
  font-size: 0px;
  background: rgba(201, 171, 150, 0.1);
  z-index: 14;
  overflow: visible auto;
}
.artisan-category {
  display: block;
  position: relative;
  height: 60px;
  margin: 42px 0 0 508px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 15;
}
.flex-row-acd {
  position: relative;
  width: 1200px;
  height: 572px;
  margin: 41px 0 0 150px;
  z-index: 207;
}
.product-card-component {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 328px;
  height: 572px;
  top: 0;
  left: 0;
  z-index: 191;
}
.rectangle-17 {
  flex-shrink: 0;
  position: relative;
  width: 328px;
  height: 572px;
  background: rgba(201, 171, 150, 0.26);
  z-index: 192;
  border-radius: 30px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}
.frame-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: absolute;
  width: 298px;
  height: 237px;
  top: 325px;
  left: 15px;
  z-index: 193;
}
.rom-hoodie {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 194;
}
.woolen-rapture-plumber {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 298px;
  height: 61px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
  z-index: 195;
}
.frame-19 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  width: 292px;
  height: 315px;
  top: 0;
  left: 18px;
  z-index: 196;
}
.blank-black-male {
  flex-shrink: 0;
  position: relative;
  width: 292px;
  height: 315px;
  background: url(./assets/images/33311fb8-6055-43f1-b330-2e62263618bc.png)
    no-repeat center;
  background-size: contain;
  z-index: 197;
}
.product-card-component-1a {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 328px;
  height: 572px;
  top: 0;
  left: 436px;
  z-index: 173;
}
.rectangle-1b {
  flex-shrink: 0;
  position: relative;
  width: 328px;
  height: 572px;
  background: rgba(201, 171, 150, 0.26);
  z-index: 174;
  border-radius: 30px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}
.frame-1c {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: absolute;
  width: 298px;
  height: 237px;
  top: 325px;
  left: 15px;
  z-index: 175;
}
.rom-hoodie-1d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 176;
}
.woolen-rapture-plumber-1e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 298px;
  height: 61px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
  z-index: 177;
}
.frame-1f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  width: 292px;
  height: 315px;
  top: 0;
  left: 18px;
  z-index: 178;
}
.blank-black-male-20 {
  flex-shrink: 0;
  position: relative;
  width: 292px;
  height: 315px;
  background: url(./assets/images/bdb86782-194f-4192-9fb3-641bc773797f.png)
    no-repeat center;
  background-size: cover;
  z-index: 179;
}
.product-card-component-21 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 328px;
  height: 572px;
  top: 0;
  left: 872px;
  z-index: 200;
}
.rectangle-22 {
  flex-shrink: 0;
  position: relative;
  width: 328px;
  height: 572px;
  background: rgba(201, 171, 150, 0.26);
  z-index: 201;
  border-radius: 30px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
}
.frame-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 7px;
  position: absolute;
  width: 298px;
  height: 237px;
  top: 325px;
  left: 15px;
  z-index: 202;
}
.rom-hoodie-24 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 25px;
  font-weight: 600;
  line-height: 30.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 203;
}
.woolen-rapture-plumber-25 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 298px;
  height: 61px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
  z-index: 204;
}
.frame-26 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: absolute;
  width: 292px;
  height: 315px;
  top: 0;
  left: 18px;
  z-index: 205;
}
.blank-black-male-27 {
  flex-shrink: 0;
  position: relative;
  width: 292px;
  height: 315px;
  background: url(./assets/images/0f4a96d7-1c0a-4287-9f6d-d712e4aacf30.png)
    no-repeat center;
  background-size: contain;
  z-index: 206;
}
.frame-carpenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.184px;
  position: absolute;
  width: 192.88px;
  height: 49.205px;
  top: 465px;
  left: 67px;
  padding: 10.102px 56.94px 10.102px 56.94px;
  background: #c9ab96;
  z-index: 198;
  cursor: pointer;
  overflow: hidden;
}
.frame-carpenter:hover {
  transform: scale(1.05);
}
.watch-select {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 22.959739685058594px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 199;
}
.frame-Plumber {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.184px;
  position: absolute;
  width: 192.88px;
  height: 49.205px;
  top: 465px;
  left: 504px;
  padding: 10.102px 56.94px 10.102px 56.94px;
  background: #c9ab96;
  z-index: 189;
  overflow: hidden;
}
.frame-Plumber:hover {
  transform: scale(1.05);
}
.watch-select-2a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 22.959739685058594px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 190;
}
.frame-Painter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 9.184px;
  position: absolute;
  width: 192.88px;
  height: 49.205px;
  top: 465px;
  left: 940px;
  cursor: pointer;
  padding: 10.102px 56.94px 10.102px 56.94px;
  background: #c9ab96;
  z-index: 207;
  overflow: hidden;
}
.frame-Painter:hover {
  transform: scale(1.05);
}
.watch-select-2c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 22.959739685058594px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 208;
}
.product-pagination {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 3.928px;
  position: relative;
  width: 214.592px;
  margin: 62px 0 0 1059px;
  z-index: 99;
}
.frame-2c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 100;
}
.frame-2d {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 101;
  cursor: pointer;
}
.frame-2d:hover {
  transform: scale(1.05);
  background: url(./assets/images/7a96c5ed-e3d1-46a8-92e8-e8090d25528a.png)
  no-repeat center;
background-size: cover;
}
.ellipse-2e {
  flex-shrink: 0;
  position: relative;
  width: 39.776px;
  height: 39.776px;
  background: url(./assets/images/c8b34205-b679-4d82-9847-f56d1f49e062.png)
    no-repeat center;
  background-size: cover;
  z-index: 102;
  border-radius: 50%;
}
.chevrons-left {
  flex-shrink: 0;
  position: absolute;
  width: 17.678px;
  height: 17.678px;
  top: 11.294px;
  left: 10.803px;
  z-index: 103;
}
.icon-chevrons-down {
  position: relative;
  width: 17.678px;
  height: 17.678px;
  margin: 0px 0 0 0px;
  background: url(./assets/images/338cf407-eff3-4db4-ae6e-ab37768e8f43.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 104;
}
.frame-2f {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 105;
  cursor: pointer;
}
.frame-2f:hover {
  transform: scale(1.05);
  background: url(./assets/images/7a96c5ed-e3d1-46a8-92e8-e8090d25528a.png)
  no-repeat center;
background-size: cover;
}
.ellipse-30 {
  flex-shrink: 0;
  position: relative;
  width: 39.776px;
  height: 39.776px;
  background: url(./assets/images/91cbeade-2d4c-4b7d-bd10-a7e01ed828ca.png)
    no-repeat center;
  background-size: cover;
  z-index: 106;
  border-radius: 50%;
}
.number-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 10px;
  height: 15px;
  top: 11.785px;
  left: 14.732px;
  color: #000000;
  font-family: Podkova, var(--default-font-family);
  font-size: 19.642276763916016px;
  font-weight: 400;
  line-height: 14.977px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.frame-31 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 108;
  cursor: pointer;
}
.frame-31:hover {
  transform: scale(1.05);
  background: url(./assets/images/7a96c5ed-e3d1-46a8-92e8-e8090d25528a.png)
  no-repeat center;
background-size: cover;
}
.ellipse-32 {
  flex-shrink: 0;
  position: relative;
  width: 39.776px;
  height: 39.776px;
  background: url(./assets/images/91cbeade-2d4c-4b7d-bd10-a7e01ed828ca.png)
    no-repeat center;
  background-size: cover;
  z-index: 109;
  border-radius: 50%;
}
.number-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 11px;
  height: 15px;
  top: 11.785px;
  left: 14.732px;
  color: #000000;
  font-family: Podkova, var(--default-font-family);
  font-size: 19.642276763916016px;
  font-weight: 400;
  line-height: 14.977px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.frame-33 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 111;
  cursor: pointer;
}
.frame-33:hover {
  transform: scale(1.05);
  background: url(./assets/images/7a96c5ed-e3d1-46a8-92e8-e8090d25528a.png)
  no-repeat center;
background-size: cover;
}
.ellipse-34 {
  flex-shrink: 0;
  position: relative;
  width: 39.776px;
  height: 39.776px;
  background: url(./assets/images/57d956b4-b881-4149-962e-36bed1fcd807.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
  border-radius: 50%;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 11px;
  height: 15px;
  top: 11.785px;
  left: 14.732px;
  color: #000000;
  font-family: Podkova, var(--default-font-family);
  font-size: 19.642276763916016px;
  font-weight: 400;
  line-height: 14.977px;
  text-align: left;
  white-space: nowrap;
  z-index: 113;
}
.div-frame {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 114;
}
.div-frame-35 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  z-index: 115;
  cursor: pointer;
}
.div-frame-36 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4.911px;
  position: relative;
  width: 39.776px;
  height: 39.776px;
  background: url(./assets/images/43a9ee31-fb62-40e5-ba75-996c7aeb33bf.png)
    no-repeat center;
  background-size: cover;
  z-index: 116;
}
.div-frame-36:hover {
  transform: scale(1.05);
  background: url(./assets/images/7a96c5ed-e3d1-46a8-92e8-e8090d25528a.png)
  no-repeat center;
background-size: cover;
}
.div-flex-row {
  position: relative;
  width: 1440px;
  height: 865px;
  margin: 113px 0 0 0;
  z-index: 140;
}
.div-rectangle {
  position: absolute;
  width: 100%;
  height: 93.33%;
  top: 0;
  left: 0;
  background: #64acef;
  z-index: 139;
}
.div-vector-background {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 17.43%;
  height: 31.45%;
  top: 5.51%;
  left: 79.65%;
  padding: 10px 10px 10px 10px;
  z-index: 152;
}
.div-vector {
  flex-shrink: 0;
  position: relative;
  width: 231px;
  height: 231px;
  background: url(./assets/images/4cf109f5-10ca-490e-a52c-b55ed5ab88b3.png)
    no-repeat center;
  background-size: cover;
  z-index: 153;
}
.div-rectangle-37 {
  position: absolute;
  width: 1140px;
  height: 580px;
  top: 105px;
  left: 150px;
  font-size: 0px;
  background: #ffffff;
  z-index: 142;
}
.span-38 {
  display: block;
  position: relative;
  height: 25px;
  margin: 38.661px 0 0 494px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 151;
}
.div-flex-row-b {
  position: relative;
  width: 916px;
  height: 353.082px;
  margin: 58.971px 0 0 106px;
  z-index: 163;
}
.div-frame-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 35px;
  position: absolute;
  width: 40.39%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 158;
}
.span-3a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 367px;
  height: 144px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48.409px;
  text-align: left;
  z-index: 159;
}
.span-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 354px;
  height: 90px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  z-index: 160;
}
.button-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 302px;
  padding: 5px 36px 5px 36px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 161;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 40px 0 rgba(201, 171, 150, 0.67);
}
.button-cta:hover {
  transform: scale(1.05);
}
.span-3c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 162;
}
.div-reviews-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 13px;
  position: absolute;
  width: 459px;
  height: 320.791px;
  top: 20.368px;
  left: 457px;
  z-index: 163;
}
.div-rectangle-3d {
  flex-shrink: 0;
  position: relative;
  width: 117px;
  height: 104px;
  background: rgba(217, 217, 217, 0.2)
    url(./assets/images/8a06748b9ae137205bb1b4d6737310a1f6044a0c.png) no-repeat
    center;
  background-size: contain;
  z-index: 164;
  border-radius: 8px;
}
.div-rectangle-3e {
  flex-shrink: 0;
  position: relative;
  width: 459px;
  height: 189px;
  background: rgba(201, 171, 150, 0.67);
  z-index: 165;
  border-radius: 8px;
}
.div-slide-bar {
  flex-shrink: 0;
  position: relative;
  width: 458.226px;
  height: 1.791px;
  z-index: 166;
}
.div-line {
  position: relative;
  width: 458.226px;
  height: 2px;
  margin: -2px 0 0 0;
  background: url(./assets/images/198ddb46-4288-41ff-bab4-24067f279cd5.png)
    no-repeat center;
  background-size: cover;
  z-index: 167;
}
.div-line-3f {
  position: relative;
  width: 33.465px;
  height: 6px;
  margin: -4.208px 0 0 18.246px;
  background: url(./assets/images/aa78e9aa-2fe5-4c85-80cc-2165a40e42e0.png)
    no-repeat center;
  background-size: cover;
  z-index: 168;
}
.div-star-rating {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: absolute;
  width: 117px;
  height: 26px;
  top: 261px;
  left: 293px;
  background: url(./assets/images/ddb44ab7-da25-48c2-9da6-37379a747ec8.png)
    no-repeat center;
  background-size: cover;
  z-index: 169;
}
.div-using-platform {
  flex-shrink: 0;
  position: absolute;
  width: 427px;
  height: 102px;
  top: 124px;
  left: 16px;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  z-index: 170;
}
.span-40 {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-transform: capitalize;
}
.span-41 {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-transform: lowercase;
}
.span-42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 120px;
  height: 24px;
  top: 236px;
  left: 16px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 171;
}
.span-43 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 180px;
  height: 24px;
  top: 256px;
  left: 16px;
  color: #676464;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 172;
}
.div-frame-44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1px;
  position: absolute;
  width: 0.98%;
  height: 26.07%;
  top: 11.75%;
  left: 43.45%;
  z-index: 154;
}
.div-rectangle-45 {
  flex-shrink: 0;
  position: relative;
  width: 9px;
  height: 37px;
  background: rgba(115, 78, 60, 0.2);
  z-index: 155;
}
.div-rectangle-46 {
  flex-shrink: 0;
  position: relative;
  width: 9px;
  height: 25px;
  background: rgba(201, 171, 150, 0.2);
  z-index: 156;
}
.div-rectangle-47 {
  flex-shrink: 0;
  position: relative;
  width: 9px;
  height: 25px;
  background: rgba(100, 172, 239, 0.2);
  z-index: 157;
}
.div-flex-row-ea {
  position: relative;
  width: 86.55px;
  height: 39.045px;
  margin: 5.059px 0 0 890px;
  z-index: 149;
}
.div-chevron-left {
  position: absolute;
  width: 44.51%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 149;
  overflow: hidden;
}
.div-chevron-left:hover {
  transform: scale(1.05);
}
.div-arrow-down {
  position: relative;
  width: 38.523px;
  height: 39.045px;
  margin: 0 0 0 0px;
  background: url(./assets/images/1f34973a-6665-4680-a5ef-3933e8555478.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 150;
}
.div-chevron-right {
  position: absolute;
  cursor: pointer;
  width: 44.51%;
  height: 100%;
  top: 0;
  left: 53.15%;
  z-index: 145;
  overflow: hidden;
}
.div-chevron-right:hover {
  transform: scale(1.05);
}
.div-arrow-down-48 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/04e4c913-1dbd-4a80-a8f4-31802ea59c29.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 146;
}
.div-rectangle-49 {
  position: absolute;
  width: 46.85%;
  height: 92.11%;
  top: 2.63%;
  left: 0;
  background: #64acef;
  z-index: 148;
}
.div-rectangle-4a {
  position: absolute;
  width: 46.85%;
  height: 92.11%;
  top: 2.63%;
  left: 53.15%;
  background: #64acef;
  z-index: 144;
}
.div-vector-background-4b {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 19.38%;
  height: 32.63%;
  top: 67.37%;
  left: 0.69%;
  padding: 10px 10px 10px 10px;
  z-index: 140;
}
.div-vector-4c {
  flex-shrink: 0;
  position: relative;
  width: 259px;
  height: 259px;
  background: url(./assets/images/2f199cb8-79a8-4dff-8a20-4b2afd3ef73e.png)
    no-repeat center;
  background-size: cover;
  z-index: 141;
}
.div-share-your-journey {
  position: relative;
  width: 794px;
  height: 217px;
  margin: 54px 0 0 323px;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 16;
}
.span-4d {
  position: relative;
  color: #734e3c;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.journey-with-us {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.service {
  position: relative;
  color: #7acbce;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.journey-with-us-4e {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.memoirs {
  position: relative;
  color: #ff8a02;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.inspire-others {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 55px;
  font-weight: 500;
  line-height: 66px;
  text-align: left;
  text-transform: capitalize;
}
.form-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 9.184px;
  position: relative;
  width: 844px;
  margin: 61px 0 0 292px;
  z-index: 17;
}
.rectangle-4f {
  flex-shrink: 0;
  position: relative;
  width: 844px;
  height: 740.222px;
  background: rgba(201, 171, 150, 0.26);
  z-index: 18;
  border-radius: 8px;
}
.form-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 25.715px;
  position: absolute;
  width: 708.078px;
  height: 536.339px;
  top: 90.002px;
  left: 67.961px;
  z-index: 19;
}
.frame-50 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: relative;
  width: 708.078px;
  z-index: 20;
}
.rectangle-51 {
  flex-shrink: 0;
  position: relative;
  width: 708.078px;
  height: 56.022px;
  background: #ffffff;
  z-index: 21;
}
.rectangle-52 {
  flex-shrink: 0;
  position: absolute;
  width: 186.433px;
  height: 56.022px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgba(201, 171, 150, 0.67);
  border: none;
  z-index: 22;
}
.firstname {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 146px;
  height: 29px;
  top: 13.776px;
  left: 20.205px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 27.551687240600586px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: relative;
  width: 708.078px;
  z-index: 24;
  overflow: hidden;
}
.rectangle-54 {
  flex-shrink: 0;
  position: relative;
  width: 708.078px;
  height: 56.022px;
  background: #ffffff;
  z-index: 25;
}
.rectangle-55 {
  flex-shrink: 0;
  position: absolute;
  width: 186.433px;
  height: 56.022px;
  top: 0;
  left: 0;
  background: rgba(201, 171, 150, 0.67);
  z-index: 26;
}
.lastname {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 145px;
  height: 29px;
  top: 13.776px;
  left: 20.205px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 27.551687240600586px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.frame-input {
  flex-shrink: 0;
  position: absolute;
  width: 450px;
  height: 56.022px;
  top: 0;
  left: 200px;
  background: transparent;
  border: none;
  z-index: 28;
  outline: none;
  font-size: x-large;
}
.frame-56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: relative;
  width: 708.078px;
  z-index: 29;
  overflow: hidden;
}
.rectangle-57 {
  flex-shrink: 0;
  position: relative;
  width: 708.078px;
  height: 56.022px;
  background: #ffffff;
  z-index: 30;
}
.rectangle-58 {
  flex-shrink: 0;
  position: absolute;
  width: 186.433px;
  height: 56.022px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgba(201, 171, 150, 0.67);
  border: none;
  z-index: 31;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 84px;
  height: 29px;
  top: 13.775px;
  left: 20.205px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 27.551687240600586px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.frame-5a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: relative;
  width: 708.078px;
  z-index: 34;
  overflow: hidden;
}
.rectangle-5b {
  flex-shrink: 0;
  position: relative;
  width: 708.078px;
  height: 56.022px;
  background: #ffffff;
  z-index: 35;
}
.rectangle-5c {
  flex-shrink: 0;
  position: absolute;
  width: 186.433px;
  height: 56.022px;
  top: 0;
  left: 0;
  background: rgba(201, 171, 150, 0.67);
  z-index: 36;
}
.country {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 119px;
  height: 29px;
  top: 13.775px;
  left: 20.205px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 27.551687240600586px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.rectangle-5e {
  flex-shrink: 0;
  position: relative;
  width: 708.078px;
  height: 209.393px;
  background: #ffffff;
  z-index: 39;
}
.frame-5f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: absolute;
  width: 708.078px;
  height: 56.022px;
  top: 326.947px;
  left: 0;
  z-index: 40;
}
.rectangle-60 {
  flex-shrink: 0;
  position: absolute;
  width: 186.433px;
  height: 56.022px;
  top: 0;
  left: 0;
  background: rgba(201, 171, 150, 0.67);
  border: none;
  z-index: 41;
}
.your-story {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 148px;
  height: 29px;
  top: 13.775px;
  left: 20.205px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 27.551687240600586px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.frame-input1{
  flex-shrink: 0;
  position: absolute;
  width: 680px;
  height: 150px;
  top: 0;
  left: 10px;
  background: transparent;
  border: none;
  z-index: 28;
  outline: none;
  font-size: x-large;
}
.frame-61 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 9.184px;
  position: absolute;
  width: 172.88px;
  height: 49.205px;
  top: 656.648px;
  left: 551.034px;
  padding: 10.102px 56.94px 10.102px 56.94px;
  cursor: pointer;
  background: #c9ab96;
  border: none;
  z-index: 43;
  overflow: hidden;
}
.frame-61:hover {
  transform: scale(1.05);
}
.send {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 22.959739685058594px;
  font-weight: 500;
  line-height: 28.011px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.rectangle-62 {
  position: relative;
  width: 1440px;
  height: 366px;
  margin: 75.778px 0 0 0;
  background: #64acef;
  z-index: 45;
  overflow: visible auto;
}
.newsletter-subscription-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 794px;
  margin: 178px 0 0 317px;
  z-index: 46;
}
.rectangle-63 {
  flex-shrink: 0;
  position: relative;
  width: 794px;
  height: 57px;
  background: #ffffff;
  z-index: 47;
}
.rectangle-64 {
  flex-shrink: 0;
  position: absolute;
  width: 306px;
  height: 55px;
  top: 1px;
  left: 488px;
  cursor: pointer;
  background: #000100;
  border: none;
  z-index: 48;
}
.subscribe-to-newsletter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 280px;
  height: 40px;
  top: 9px;
  cursor: pointer;
  left: 501px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 49;
}
.your-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  border: none;
  width: 350px;
  height: 31px;
  top: 13px;
  left: 23px;
  color: #0c0b0b;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30.286px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 50;
}
.rectangle-62 {
  position: relative;
  width: 1440px;
  height: 366px;
  margin: 75.778px 0 0 0;
  background: #64acef;
  z-index: 45;
  overflow: visible auto;
}
.newsletter-subscription-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 794px;
  margin: 178px 0 0 317px;
  z-index: 46;
}
.rectangle-63 {
  flex-shrink: 0;
  position: relative;
  width: 794px;
  height: 57px;
  background: #ffffff;
  z-index: 47;
}
.rectangle-64 {
  flex-shrink: 0;
  position: absolute;
  width: 306px;
  height: 55px;
  top: 1px;
  left: 488px;
  cursor: pointer;
  background: #000100;
  border: none;
  z-index: 48;
}
.subscribe-to-newsletter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  width: 280px;
  height: 40px;
  top: 9px;
  cursor: pointer;
  left: 501px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 49;
}
.your-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: absolute;
  border: none;
  width: 350px;
  height: 31px;
  top: 13px;
  left: 23px;
  color: #0c0b0b;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30.286px;
  text-align: left;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 50;
}
.flex-row-ff {
  position: relative;
  width: 1440px;
  height: 575px;
  margin: 0 0 0 0;
  z-index: 84;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 1440px;
  height: 575px;
  top: 0;
  left: 0;
  z-index: 52;
}
.rectangle-65 {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 575px;
  background: #000100;
  z-index: 53;
}
.artisan-visit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  width: 839px;
  height: 180px;
  top: 158px;
  left: 244px;
  color: #f2f2f2;
  font-family: Poppins, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  letter-spacing: -1.2px;
  z-index: 54;
}
.footer-section-7b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 1440px;
  height: 575px;
  top: 0;
  left: 0;
  z-index: 84;
}
.rectangle-7c {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 575px;
  background: #000100;
  z-index: 85;
}
.love-language-7d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  width: 839px;
  height: 180px;
  top: 158px;
  left: 244px;
  color: #f2f2f2;
  font-family: Poppins, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  letter-spacing: -1.2px;
  z-index: 86;
}
.footer-icons-7e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 65px;
  position: absolute;
  width: 1178px;
  height: 140px;
  top: 372px;
  left: 28px;
  z-index: 87;
}
.frame-7f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 91px;
  z-index: 88;
}
.home-80 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 89;
}
.about-us-81 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 90;
}
.services-82 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 91;
}
.frame-83 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 129px;
  z-index: 92;
}
.sign-in-84 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 93;
}
.testimonials-85 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 94;
}
.newsletter-86 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  cursor: pointer;
  height: 40px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 95;
}
.frame-87 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 25px;
  position: relative;
  width: 306px;
  z-index: 96;
}
.envelope-88 {
  flex-shrink: 0;
  position: relative;
  width: 71px;
  height: 71px;
  background: url(./assets/images/c16209d4-3cff-40e1-a128-149dc2f09cae.png)
    no-repeat center;
  background-size: cover;
  z-index: 97;
  cursor: pointer;
}
.empyrean-89 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 210px;
  height: 71px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 71px;
  text-align: left;
  text-transform: capitalize;
  z-index: 98;
}

